$white-color: #ffffff;
$button-bg-color:blueviolet;
$footer-bg-color:#032542;
img {
    max-width: 150px;
}

mat-card {
    background-color: $footer-bg-color;
}

.icon {
    i {
        padding: 0px 5px;
        font-size: 1em;
        color: $white-color;
    }
}

p {
    font-family: poppines;
    color: $white-color;
}

input {
    border-radius: 25px;
    padding: 10px;
}

.title {
    color: $white-color;
}

.footer-logo {
    max-width: 600px;
    mat-card-content {
        max-width: 510px;
        margin-top: 1.5em;
        color: $white-color;
        mat-card-title {
            font-family: poppines;
            margin-top: 1.5em;
            color: $white-color;
        }
        mat-card-subtitle {
            font-family: poppines;
            font-size: 10px;
            color: $white-color;
            margin-top: 1em;
        }
    }
}

@media screen and (min-width: 600px) {
    mat-card {
        display: flex;
        justify-content: space-evenly;
    }
    .icon {
        i {
            padding: 0px 5px;
            margin-right: 3em;
            font-size: 1em;
            color: $white-color;
        }
    }
    .logo {
        display: flex;
    }
    .footer-logo {
        max-width: 600px;
        mat-card-content {
            max-width: 510px;
            margin-top: 1.5em;
            color: $white-color;
            mat-card-title {
                font-family: poppines;
                margin-top: 1.5em;
                color: $white-color;
            }
            mat-card-subtitle {
                font-family: poppines;
                font-size: 10px;
                color: $white-color;
                margin-top: 1em;
            }
        }
    }
    input {
        width: 240px;
        border-radius: 25px;
        padding: 10px;
        color: $white-color;
    }
}

button {
    background: $button-bg-color;
    color: $white-color;
    font-family: poppines;
    padding: 10px 2em;
    border-radius: 20px;
    margin-top: 1em;
}

.footer-section {
    margin-top: 4em;
}