<div class="container">
    <mat-card>
        <div class="footer-logo">
            <mat-card-content>
                <div class="logo">
                    <img src="https://us.123rf.com/450wm/alluranet/alluranet1711/alluranet171104648/90818062-world-education-logo-design-template-vector.jpg?ver=6" matImage alt="" />
                    <mat-card-title>Member of Schools Foundation</mat-card-title>
                </div>
                <mat-card-subtitle>
                    CPE Registration No: 200912349N | Period of Registration: 25 February 2019 to 24 February 2023
                </mat-card-subtitle>
                <mat-card-content class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-instagram"></i>
                </mat-card-content>
            </mat-card-content>
        </div>
        <div class="footer-section">
            <mat-card-content>
                <mat-card-title class="title"> Subscribe to our Newsletter </mat-card-title>
                <p> Stay up to date with the latest news & updates </p>
            </mat-card-content>
        </div>
    </mat-card>
</div>