$white-color: #ffffff;
$button-bg-color:blueviolet;
mat-card-content {
    font-family: poppines;
    img {
        margin: 1em 0px;
    }
    mat-card-subtitle {
        max-width: 350px;
        margin: 12px 0px;
    }
    mat-card-title {
        font-weight: bold
    }
}

mat-card {
    max-width: 398px;
    border-radius: 10px;
    box-shadow: 2px 2px 16px 2px rgb(0 0 0 / 12%);
    background-color: $white-color;
    color: black;
    mat-card-subtitle {
        color: black;
    }
}

.campus-img {
    max-width: 280px;
}

.admission-img {
    max-height: 260px;
    max-width: 270px;
}

.container {
    background-color: $white-color;
    margin-bottom: 1em;
    padding: 1em 0px;
}

button {
    background-color: $button-bg-color;
    padding: 1em;
    border-radius: 2em;
    color: $white-color;
    padding: 14px 37px;
    a {
        text-decoration: none;
    }
}

.apply {
    padding: 14px 37px;
}

@media screen and (min-width:830px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        background-color: $white-color;
        margin-bottom: 1em;
        padding: 1em 0px;
    }
}

@media screen and (min-width:420px) {
    .campus-img {
        max-width: 367px;
    }
    .admission-img {
        max-height: 260px;
        max-width: 400px;
    }
}