<div class="container">
    <mat-card>
        <mat-card-content>
            <img class="campus-img" src="https://media.gettyimages.com/photos/children-cheering-in-classroom-picture-id1148218795?s=612x612" matImage alt="">
            <mat-card-title>
                Student List
            </mat-card-title>
            <mat-card-subtitle>
                A digital student ID card can be used for visual verification, to prove your affiliation with a particular school. Additionally, when integrated with other systems and more.
            </mat-card-subtitle>
            <button mat-card-button routerLink="/student-data">STUDENT CARDS</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img class="admission-img" src="https://media.istockphoto.com/photos/button-on-computer-keyboard-picture-id1149466575" matImage alt="">
            <mat-card-title>
                Admissions
            </mat-card-title>
            <mat-card-subtitle>
                Admissions are open to all students of all nationalities all year round, subject to availability of seats, with the exception of students of CBSE Grades 11 and 12 and IB Year 1 and 2.
            </mat-card-subtitle>
            <button mat-card-button class="apply" routerLink="/new-Addmision">APPLY</button>
        </mat-card-content>
    </mat-card>
</div>