$white-color: #ffffff;
$button-bg-color:blueviolet;
mat-icon {
    color: $white-color;
    background-color: rgb(40, 235, 22);
    border-radius: 20px;
    padding: 5px;
}

mat-card {
    position: relative;
}

.conatiner::before {
    content: '';
    position: absolute;
    background: url(https://f.hubspotusercontent20.net/hubfs/2174926/Techmagnate/primary-landingp/thankyou/images/faculty-curve.png);
    bottom: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    height: 110px;
}

mat-card-title {
    color: $white-color;
    font-family: poppines;
}

mat-card-subtitle {
    color: $white-color;
    font-family: poppines;
}

.card-div {
    background-color: #07294d;
    padding: 4em 0px;
    text-align: center;
    margin: 0px -16px;
}