<div class="section-container">
    <mat-card>

        <div class="conatiner">
            <div class="card-div">
                <mat-card-content>
                    <mat-icon>done_outline</mat-icon>
                </mat-card-content>
                <mat-card-title>
                    THANKS YOU
                </mat-card-title>
                <mat-card-subtitle>
                    We will be in touch with you within 1 working day.
                </mat-card-subtitle>
            </div>
        </div>

    </mat-card>
    <app-cards></app-cards>
</div>