mat-card {
    max-width: 300px;
    margin: 3em auto;
    box-shadow: 2px 2px 16px 2px rgb(0 0 0 / 12%);
}

mat-card-content {
    text-align: center;
}

mat-title {
    font-family: poppones;
    font-weight: bold;
    font-size: 22px;
}

button {
    background-color: blueviolet;
    color: white;
    margin-left: 4em;
    padding: 4px 5em;
}

.container {
    margin: 9em 0px;
}

@media screen and (max-width:350px) {
    .container {
        margin: 0px 0px;
    }
}