<div class="container">
    <form [formGroup]="createPasword">
        <mat-card>
            <mat-card-content>
                <mat-title>Create New Password</mat-title>
                <mat-form-field appearance="outline">
                    <mat-label> Enter Your Old Password</mat-label>
                    <input matInput type="password" formControlName="oldPassword" [type]="oldhide ? 'password' : 'text'" minlength="6">
                    <mat-icon matSuffix (click)="oldhide = !oldhide">{{oldhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>Please Enter Old Password</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label> Enter Your New Password</mat-label>
                    <input matInput type="password" formControlName="newPassword" [type]="hide ? 'password' : 'text'" minlength="6">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label> Re Enter Your New Password</mat-label>
                    <input type="password" matInput formControlName="reNewPassword" [type]="Rehide ? 'password': 'text'" minlength="6">
                    <mat-icon matSuffix (click)="Rehide =!Rehide">{{Rehide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </mat-card-content>
            <button mat-button (click)="Submit()">Submit</button>
        </mat-card>
    </form>
</div>