<div class="container">
    <form [formGroup]="forgotPassword">
        <mat-card>
            <mat-card-content>
                <mat-title>Forgot Password</mat-title>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" [email]="true">
                    <mat-error>Field Required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Content</mat-label>
                    <input matInput type="number" formControlName="phone" />
                    <mat-error>Field Required</mat-error>
                </mat-form-field>

            </mat-card-content>

            <button mat-button (click)="createPassword()">Create New Password</button>
        </mat-card>

    </form>
</div>