$white-color: #ffffff;
$button-bg-color:blueviolet;
.bg-img {
    background-image: url("http://adm.globalindianschool.org/hubfs/GIIS-smart-campus-cover-upload.jpg");
    height: 1100px;
    h1 {
        color: $white-color;
        font-family: poppines;
        max-width: 500px;
        margin-bottom: 1em;
        font-size: 3em;
    }
    p {
        color: $white-color;
        font-family: poppines;
        font-size: 1.4em;
        max-width: 500px;
        padding-bottom: 1em;
    }
}

mat-form-field {
    margin: 0px 1em;
}

form {
    max-width: 500px;
}

mat-card-subtitle {
    margin-left: 1em;
}

button {
    background-color: $button-bg-color;
    color: $white-color;
    font-family: poppines;
    margin-left: 3em;
}

mat-card {
    padding: 10px 0px;
}

mat-card-content {
    margin: 0px 1em;
}

@media screen and (min-width:720px) {
    .bg-img {
        display: flex;
        justify-content: space-around;
        height: 820px;
    }
    button {
        margin-left: 10em;
    }
    .section {
        margin-top: 10em;
    }
    h1 {
        margin: 0px;
    }
    mat-card {
        padding: 16px;
    }
    mat-card-content {
        margin: 0px;
    }
}

@media screen and (max-width:520px) {
    mat-card-subtitle.sub-tile {
        max-width: 215px;
    }
}