<mat-card>
    <div class="bg-img">
        <mat-card-content class="section">
            <h1>Looking for a High-Quality International school?</h1>
            <p>With 6 different international curricula and a SMART Campus to enhance your child’s learning experience, GIIS is the global school of the future.</p>
        </mat-card-content>
        <mat-card-content class="forms-group section">
            <form [formGroup]="reactiveform">
                <mat-card>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput formControlName="firstname">
                            <mat-error>Field Required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="lastname">
                            <mat-error>Field Required</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="email" email="true">
                            <mat-error>Field Required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Content Number</mat-label>
                            <input type="number" matInput formControlName="number">
                            <mat-error>Field Required</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-card-subtitle class="sub-tile">
                            Please Note: Grades 10-12 are only available in SMART Campus
                        </mat-card-subtitle>
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Choose grade level</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let grade of grade" [value]="grade.value" class="option">
                                    {{grade.grades}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Field Required</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <button mat-button (click)="knowMore()">Yes, I want to know more</button>
                </mat-card>
            </form>
        </mat-card-content>
    </div>
</mat-card>