$white-color: #ffffff;
$button-bg-color:blueviolet;
h1 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: poppines;
    font-size: 2em;
}

mat-radio-button {
    margin-left: 1em;
}

mat-form-field {
    margin-right: 2em;
}

mat-card-content {
    margin: 0px;
}

#option {
    margin: 1em 0px;
}

mat-card {
    max-width: 740px;
}

form {
    display: flex;
    justify-content: center;
    margin: 3em 0px;
}

button {
    background-color: $button-bg-color;
    color: $white-color;
}

mat-card-title {
    font-family: poppines;
}

@media screen and (max-width:480px) {
    mat-card {
        text-align: center;
    }
}