<h1>
    Verify Details
</h1>
<form action="" [formGroup]="form">

    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="name">First Name </mat-label>
                <input id="name" matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="lname">Last Name </mat-label>
                <input id="lname" matInput type="text" formControlName="lname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="childAge">Age: </mat-label>
                <input id="childAge" matInput type="text" formControlName="childAge">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="stuClass">Class: </mat-label>
                <input id="stuClass" matInput type="text" formControlName="stuClass">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="stuNo">Contect Number: </mat-label>
                <input id="stuNo" matInput type="text" formControlName="stuNo">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="stuEmail">Email: </mat-label>
                <input id="stuEmail" matInput type="text" formControlName="stuEmail" [email]="'true'">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="name">Date of Birth: </mat-label>
                <input id="stuDob" matInput type="date" formControlName="stuDob">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="stuPinCode">Pin Code: </mat-label>
                <input id="stuPinCode" matInput type="number" formControlName="stuPinCode">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="newLocation">LandMark: </mat-label>
                <textarea id="newLocation" matInput formControlName="newLocation"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="fname"> Father Name </mat-label>
                <input type="text" id="fname" matInput formControlName="fname" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="fAge"> Age </mat-label>
                <input type="number" id="fAge" matInput formControlName="fAge" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="fEmail"> Email </mat-label>
                <input type="email" matInput id="fEmail" formControlName="fEmail" email="true" />
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="mname"> Father Name </mat-label>
                <input type="text" id="mname" matInput formControlName="mname" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="mAge"> Age </mat-label>
                <input type="number" id="mAge" matInput formControlName="mAge" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="mEmail"> Email </mat-label>
                <input type="email" matInput id="mEmail" formControlName="mEmail" email="true" />
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="parentDob"> Date of Birth </mat-label>
                <input type="date" id="parentDob" matInput formControlName="parentDob" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="parentNumber"> Contect Number </mat-label>
                <input type="number" id="parentNumber" matInput formControlName="parentNumber" />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="LandLineNumber"> LandLine Number </mat-label>
                <input type="LandLineNumber" matInput id="LandLineNumber" formControlName="LandLineNumber" />
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="pPinCode"> Pin code </mat-label>
                <input type="pPinCode" matInput id="pPinCode" formControlName="pPinCode" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="pAdders"> LandMark </mat-label>
                <textarea matInput id="pAdders" formControlName="pAdders"></textarea>
            </mat-form-field>
        </mat-card-content>
        <button mat-button (click)="submitForm()">Submit</button>
    </mat-card>
</form>