$white-color: #ffffff;
$button-bg-color:blueviolet;
::ng-deep {
    .mat-form-field-wrapper {
        max-width: 200px;
    }
}

.container {
    margin: 4.3em 0px;
}

button {
    display: flex;
    color: $white-color;
    padding: 10px 4em;
    font-family: poppines;
    font-size: 19px;
    border-style: none;
    background: $button-bg-color;
    margin: 20px 0px 1em 0px;
}

mat-card {
    max-width: 300px;
    padding: 2em 0px;
}

mat-card-header {
    margin-left: 2.5em;
}

form {
    text-align: -webkit-center;
    padding: 5em 0px;
}

.labelFor {
    margin-left: 11em;
}

a {
    text-decoration: none;
}

img {
    background-image: url('https://www.gstatic.com/recaptcha/api2/logo_48.png');
}

.container {
    margin: 4.3em 0px;
}

@media screen and (max-width:350px) {
    .container {
        margin: 0px 0px;
    }
}