<div class="container">
    <form [formGroup]="reactiveForm">
        <mat-card>
            <div class="header" [formGroup]="reactiveForm">
                <mat-card-header>
                    <mat-card-title>LOGIN</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label for="Emails">Email</mat-label>
                        <input matInput type="email" id="Emails" formControlName="Emails" email="true" />
                        <mat-error>Field Required</mat-error>
                    </mat-form-field>
                </mat-card-content>
            </div>
            <div [formGroup]=" passwordGet">
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label for="PassWord">Password</mat-label>
                        <input matInput type="password " id="PassWord" formControlName="PassWord" [type]="hide ? 'password' : 'text' " minlength="6" />
                        <mat-icon matSuffix (click)="hide=! hide ">{{ hide ? "visibility_off " : "visibility " }}
                        </mat-icon>
                        <mat-error>Field Required</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <button matbutton (click)="clicked($event) ">Login</button>
                <label for=" " class="labelFor "><a routerLink="/forgot-password">Forgot Password?</a></label
        >
      </div>
    </mat-card>
  </form>
</div>