::ng-deep {
    app-model-dialog {
        position: relative;
    }
    mat-title {
        font-family: poppines;
        font-weight: bold;
    }
}

button {
    background-color: blueviolet;
    color: white;
    margin: 1em 2em;
    padding: 0px 2em;
}

mat-icon {
    position: absolute;
    right: -2.5em;
    bottom: 49px;
}