$white-color: #ffffff;
$button-bg-color:blueviolet;
button {
    background-color: $button-bg-color;
    color: $white-color;
    font-family: poppines;
}

mat-card {
    text-align: center;
    box-shadow: 2px 2px 16px 2px rgb(0 0 0 / 12%);
}