<form [formGroup]="inputForm">
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>
                    First Name
                </mat-label>
                <input type="text" matInput formControlName="firstName">
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>
                    Last Name
                </mat-label>
                <input type="text" matInput formControlName="lastName">
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>
                    ID
                </mat-label>
                <input type="number" matInput formControlName="id">
                <mat-error>Field Required</mat-error>>
            </mat-form-field>
        </mat-card-content>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>
                    Age
                </mat-label>
                <input type="number" matInput formControlName="age">
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>
                    Email
                </mat-label>
                <input type="email" matInput formControlName="email" email="true">
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <button mat-button (click)="saveChangs()">Save Changes</button>
    </mat-card>
</form>