$white-color: #ffffff;
$button-bg-color:blueviolet;
h1 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: poppines;
    font-size: 2em;
}

mat-radio-button {
    margin-left: 1em;
}

mat-form-field {
    margin-right: 2em;
}

mat-card-content {
    margin: 0px;
}

#option {
    margin: 1em 0px;
}

mat-card {
    max-width: 740px;
}

form {
    display: flex;
    justify-content: center;
    margin: 3em 0px;
}

button {
    background-color: $button-bg-color;
    color: $white-color;
}

mat-card-title {
    font-family: poppines;
}

@media screen and (max-width:600px) {
    mat-radio-group.gender {
        display: block !important;
    }
}

@media screen and(max-width:450px) {
    mat-card {
        text-align: center;
    }
}

mat-select {
    select {
        padding: 1.3em 3em 1.3em 0px;
        width: 200px;
        margin-right: 2.2em;
        border-radius: 6px;
        border: 1px solid;
        border: 1px solid lightgrey;
        margin-bottom: 19px;
    }
}