<h1>Fill Admission Form</h1>
<form [formGroup]="Admission">
    <mat-card>
        <mat-card-content>
            <mat-card-content>
                <mat-card-title>Student's Details</mat-card-title>
            </mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label> First Name </mat-label>
                <input type="text" matInput formControlName="firstname" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Last Name </mat-label>
                <input type="text" matInput formControlName="lastname" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Age </mat-label>
                <input type="text" matInput type="number" formControlName="age" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label> Class </mat-label>
                <input type="text" matInput formControlName="class" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Content No </mat-label>
                <input matInput type="number" formControlName="phoneNo" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Email </mat-label>
                <input type="email" matInput formControlName="email" email="true" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label> Student's DoB </mat-label>
                <input matInput type="date" formControlName="dob" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-radio-group label="Select an option" class="gender">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
                <mat-radio-button value="3">other</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
        <mat-card-content>
            <mat-label>Select Address</mat-label>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for="">Select Country</mat-label>
                <mat-select formControlName="country" (selectionChange)="getCountry()">
                    <mat-option *ngFor="let country of data?.countries" value="{{country.CountryName}}">
                        {{country.CountryName}}
                    </mat-option>
                </mat-select>
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="">Select State</mat-label>
                <mat-select formControlName="state" (selectionChange)="getStates()">
                    <mat-option *ngFor="let state of availableStates" value="{{state.state}}">
                        {{state.state}}
                    </mat-option>
                </mat-select>
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="">Select City</mat-label>
                <mat-select formControlName="city">
                    <mat-option *ngFor="let city of availiableCity" value="{{city}}">
                        {{city}}
                    </mat-option>
                </mat-select>
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Pincode</mat-label>
                <input type="number" matInput formControlName="pincode" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>LandMark</mat-label>
                <textarea matInput formControlName="adders"></textarea>
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-card-title> Parent Details </mat-card-title>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label> Father Name </mat-label>
                <input type="text" matInput formControlName="fathername" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Age </mat-label>
                <input type="number" matInput formControlName="fatherAge" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Email </mat-label>
                <input type="text" matInput formControlName="fatherEmail" email="true" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Mother Name </mat-label>
                <input type="text" matInput formControlName="mothername" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Age</mat-label>
                <input type="number" matInput formControlName="motherAge" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Email </mat-label>
                <input type="text" matInput formControlName="motherEmail" email="true" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> DOB </mat-label>
                <input matInput type="date" formControlName="fatherdob" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Mobile Number </mat-label>
                <input matInput type="number" formControlName="contect" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Landline Number </mat-label>
                <input matInput type="number" formControlName="houseNumber" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label for=""> IdProof</mat-label>
                <mat-select id="" *ngFor="let prof of proof" formControlName="Proof">
                    <mat-option value="{{ prof.BirthCard }}">{{ prof.BirthCard }}</mat-option>
                    <mat-option value="{{ prof.Passport }}">{{ prof.Passport }}</mat-option>
                    <mat-option value="{{ prof.AddharCard }}">{{ prof.AddharCard }}</mat-option>
                    <mat-option value="{{ prof.PanCard }}">{{ prof.PanCard }}</mat-option>
                </mat-select>
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Pincode</mat-label>
                <input type="number" matInput formControlName="parentpincode" />
                <mat-error>Field Required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>LandMark</mat-label>
                <textarea matInput formControlName="parentadders"></textarea>
                <mat-error>Field Required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <button mat-button (click)="submitForm($event)">Submit</button>
    </mat-card>
</form>