<div class="cards2">
    <mat-card *ngFor="let data of store" class="card">
        <mat-card-header>
            <h3>{{ data.first_name }}</h3>
            <h3>{{ data.last_name }}</h3>
        </mat-card-header>
        <mat-card-content>
            <p>{{ data.email }}</p>
        </mat-card-content>
        <mat-card-content>
            <p>Age -{{ data.age }}</p>
        </mat-card-content>
        <mat-card-content>
            <p>Id -{{ data.id }}</p>
        </mat-card-content>
        <mat-card-content>
            <img mat-card-images src="{{ data.profile }}" alt="" />
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button (click)="editDetail(data.id)">Edit Card</button>
        </mat-card-actions> -->
    </mat-card>
</div>