$white-color: #ffffff;
$button-bg-color:blueviolet;
::ng-deep {
    .mat-card-header-text {
        margin: 0px;
    }
}

h3 {
    margin-right: 2em;
    font-family: poppines;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    font-family: poppines;
}

mat-card-content h1 {
    text-align: end;
    a {
        text-decoration: none;
    }
}

mat-card.card {
    margin-top: 2em;
    border-radius: 1em;
    height: 420px;
}

img {
    width: 225px;
}

mat-card {
    width: 420px;
    margin: 2em 7em;
}

.cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

mat-card-actions button {
    position: absolute;
    bottom: 10px;
    left: 2em;
    background-color: $button-bg-color;
    color: $white-color;
    font-family: poppines;
}

@media screen and(max-width:700px) {
    .container {
        flex-wrap: wrap;
    }
}

@media screen and(max-width:320px) {
    mat-card {
        padding: 0px;
        padding-left: 1em;
        width: 250px;
        margin: 1em 0em;
    }
    mat-card.card {
        height: 380px;
    }
    h3 {
        margin-right: 1em;
        font-size: 1em
    }
    p {
        font-size: 1.2em;
    }
    img {
        width: 150px;
    }
    mat-card-actions button {
        position: relative;
        bottom: 0px;
        left: 2em;
    }
}

mat-card-content h1 {
    font-family: poppines;
}