$white-color: #ffffff;
$button-bg-color:blueviolet;
.conatiner {
    background-image: url('https://indianhighschool.edu.in/images/banner/about-ihs.jpg');
    height: 400px;
    margin: 3em 0px;
}

.parent {
    margin-top: 1em;
    h1 {
        font-weight: bold;
        font-family: poppines;
        font-size: 2em;
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

button {
    background-color: $button-bg-color;
    color: $white-color;
    font-family: poppines;
    margin-left: 1em;
}

@media screen and (max-width:330px) {
    .nav {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    h1 {
        margin-left: 2em;
    }
    button {
        margin-left: 2em;
    }
}

@media screen and (max-width:780px) {
    .nav {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:350px) {
    .container {
        margin: 0px 0px;
    }
}