<div class="parent">
    <div class="nav">
        <h1>WELCOME TO INDIAN HIGH SCHOOLS</h1>
        <div class="side-button">
            <button mat-button (click)="staffClick()">Staff Login</button>
            <button mat-button (click)="newAdmin()">New Admission</button>
        </div>
    </div>
    <div class="conatiner">

    </div>
</div>