<mat-card>
    <mat-card-content class="imges">
        <img alt="" class="_3X6pY _2MmQI" src="https://media.istockphoto.com/vectors/education-symbol-design-template-pencil-and-book-icon-stylized-vector-id1171617683?k=20&m=1171617683&s=612x612&w=0&h=E2wEAH0mQ2j-MT_i0sHj_6OUWoJKlD-3Pt7_Y8WhzD0=">
    </mat-card-content>
</mat-card>