$white-color: #ffffff;
$button-bg-color:blueviolet;
mat-icon {
    color: $white-color;
    background-color: rgb(40, 235, 22);
    border-radius: 20px;
    // padding: 5px;
}

.section-container {
    max-width: 98.7%;
}

mat-card {
    position: relative;
    box-shadow: 2px 2px 16px 2px rgb(0 0 0 / 12%);
}

.card-div mat-card-title {
    color: $white-color;
    font-family: poppines;
    margin: 1em 0px;
}

mat-card-subtitle {
    color: $white-color;
    font-family: poppines;
}

.card-div {
    background-color: #07294d;
    padding: 4em 0px;
    text-align: center;
    margin: 0px -16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // overflow: hidden;
    background: #001f25;
}

.loader {
    background-color: black;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 12em auto;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(36deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 4px solid #00efff;
    box-shadow: 0 0 20px #8552e2, -30px -30px 0 #2ad39b, -30px -30px 20px #ec2a2a, 30px 30px 0 #b5ee2f, 30px 30px 20px #440808, 30px -30px 0 #a7eb0b, 30px -30px 20px #000000, -30px 30px 0 #f80909, -30px 30px 20px #17e628;
    animation: animate 5% linear infinite;
    animation-delay: calc(-0.25s * var(--i));
    border-radius: 80%;
    transform-origin: 20px;
    transition: 2s;
}

.loader:hover span::before {
    box-shadow: 0 0 20px #2ffa14, -200px -200px 0 #ff00008a, -200px -200px 20px #eaeeee, 200px 200px 0 #1b7177, 200px 200px 20px #2804ae, 200px -200px 0 #b909ffc7, 200px -200px 20px #00efff, -200px 200px 0 #c4ce10be, -200px 200px 20px #00efff;
    transform-origin: 250px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}