<div class="section-container">
    <mat-card>

        <div class="conatiner">
            <div class="card-div">
                <mat-card-content>
                    <mat-icon>done_outline</mat-icon>
                </mat-card-content>
                <mat-card-title>
                    THANKS YOU
                </mat-card-title>
                <mat-card-subtitle>
                    We will be in touch with you within 1 working day.
                </mat-card-subtitle>
            </div>
        </div>

    </mat-card>
    <div class="loader">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
        <span style="--i:4;"></span>
        <span style="--i:5;"></span>
        <span style="--i:6;"></span>
        <span style="--i:7;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:10;"></span>
    </div>
</div>